header{
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  @media all and(min-width: 1200px){
    flex-direction: row;
    justify-content: space-between;
  }
}


.key__tag, .text, .cursor{
  color: #e5e5e5;
}

.tag{
  color: #ce2661;
}

.opacity{
  opacity: 0;
}