header{
  text-align: center;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  @media all and(min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.main{
  display: flex;
}


.key__tag, .text, .cursor{
  color: #e5e5e5;
}

.tag{
  color: #ce2661;
}

.opacity{
  opacity: 0;
}