header{
  text-align: center;
}

.App {
  display: flex;
  justify-content: space-between;
}
/* h1{
  position: relative; 
  float: left;
}

.write {
  position:absolute;
  right:0;
  width:0;
  background-color: #272822;
  border-left: 1px solid #e5e5e5;
  animation: escribir 5s steps(60) alternate;
}

@keyframes escribir {
  from { width: 100% }
  to { width:0 }
} */

.key__tag, .text{
  color: #e5e5e5;
}

.tag{
  color: #ce2661;
}

.opacity{
  opacity: 0;
}