.aside__nav{
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & li{
        padding: 10px;
    }
}


.iconRRSS{
    width: 70px;
}