.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 36px;
    margin: 40px;
}

.span__content{
    padding: 10px;
}