.home {
  width: 300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  margin: auto;

  @media all and(min-width: 768px) {
    width: 600px;
    font-size: 26px;
  }

  @media all and(min-width: 1200px) {
    width: 800px;
    font-size: 36px;
    margin: 60px;
  }
}

.content__text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.span__content {
  align-self: flex-start;
  padding: 5px;

  @media all and(min-width: 1200px) {
    padding: 10px;
  }

}
.text{
  align-self: center;
}

