.skills {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and(min-width:768px){
    height: 80vh;
  }

}

.skillsList {
  margin: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    font-size: 16px;
    border: 0;
  }

  @media all and (min-width: 1200px) {
    flex-direction: row;
    line-height: 10px;
    font-size: 20px;
  }
}

.skills__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.skills__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.skills__logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  }


.logosSkills {
  width: 25px;
  padding: 3px;
  animation: rotate-in-2-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @media all and (min-width: 768px) {
    width: 35px;
  }
}

@keyframes rotate-in-2-cw {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}


