.sobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: auto;
  margin-top: 0px;

  @media all and (min-width: 768px) {
    max-width: 600px;
    
  }

  @media all and (min-width: 1200px) {
    max-width: 800px;
  }

  &__img {
    width: 150px;
    align-self: center;

    @media all and (min-width: 768px) {
      width: 200px;
    }

    & img {
      width: 100%;
    }
  }
}
.carousel__image {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 150px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.247);
  border-radius: 10px;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @media all and (min-width: 768px) {
    width: 200px;
    margin-top: 200px;
    margin-bottom: 40px;
  }
}

@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.sobreMi__content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  font-size: 14px;
  margin-bottom: 50px;

  @media all and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 360px;
  }

  @media all and (min-width: 1200px) {
    font-size: 20px;
  }
}

.strong {
  font-weight: bold;
}

.content__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myHistory {
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
