.sobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  margin: 40px;
  max-width: 800px;

  &__title {
    width: 800px;
    display: flex;
    align-items: flex-start;
    align-self: center;

    &__title {
      width: 400px;
      font-size: 30px;
      font-weight: normal;
    }

    &__img {
      width: 200px;
      margin-left: 30%;

      & img {
        width: 100%;
      }
    }
  }
}

.sobreMi__content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.strong {
  font-weight: bold;
}

.content__text{
  display: flex;
  justify-content: center;
  align-items: center;
}